<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Terms of Service</h5>
        <p class="card-text mt-4 mb-4">
            <!-- Your terms of service content goes here -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero libero, vitae feugiat dui commodo vel. Nulla facilisi.
            Cras gravida scelerisque neque, nec fermentum metus luctus quis. Donec nec felis eget arcu molestie maximus vel sed ex.
        </p>
        <a href="#" class="btn btn-primary mt-4">Read Full Terms</a>
    </div>
</div>
